<beans xmlns="http://www.springframework.org/schema/beans"   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   <bean id="restaurantBean" class="com.springcore.Restaurant">
       <constructor-arg ref="soupBean" />
   </bean>
   <bean id="teaBean" class="com.springcore.Tea"></bean>
   <bean id="coffeeBean" class="com.springcore.Coffee"></bean>
 <bean id="soupBean" class="com.springcore.Soup"></bean>
</beans>